$primary: #f25274
$primary-invert: #fff

// font
$family-primary: "Roboto", "Helvetica", "Arial", sans-serif
$family-secondary: "Roboto", "Helvetica", "Arial", sans-serif


// dimensions
$navbar-height: 3.25rem